<h1>Word Counter</h1>

<form method="post" action="/">
  <p>"The rain in Spain stays mainly on the plain."</p>
  <textarea name="user_text"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
